# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.env
apps/backend/.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Deployment & IDE
.vercel
.idea/
.vscode/
*.swp
.DS_Store
